@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

input {
  all: unset;
  appearance: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 20px 0;
}

footer span {
  color: #04aaff;
}

.icon {
  color: #04aaff;
  transition: 0.1s;
}

.icon:hover {
  color: white;
}

.tweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  margin-top: 15px;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.preview {
  margin-bottom: 10px;
}
.preview img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

.profile__image {
  border-radius: 50%;
  width: 320px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
  object-fit: contain;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
}

.profile__tweet h4 {
  font-size: 16px;
  font-weight: 700;
}

.profile__tweet {
  margin-top: 20px;
  width: 320px;
}

/* Twitter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}
.factoryInput__arrow:hover {
  color: #04aaff;
  background-color: white;
}

.factoryInput__label {
  color: #04aaff;
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Tweet */

.tweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.tweet h4 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.tweet h5 {
  font-size: 12px;
  margin-top: 15px;
  color: gray;
  text-align: end;
}

.tweet img {
  border-radius: 5%;
  width: 280px;
  height: 280px;
  overflow: hidden;
  margin-top: 15px;
}

.tweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tweet__actions span {
  cursor: pointer;
}

.tweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  box-sizing: content-box;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

/* Collection */
.collection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.clickImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 70vw;
  max-height: 100vh;
  height: auto;
  z-index: 999;
}

.tweetImage {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  overflow: hidden;
  border: solid 1px #04aaff;
}

.tweetImage img {
  width: 100%;
  height: 100%;
}
